@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
    width: 100vw;
  }
  html::-webkit-scrollbar {
    display: none;
  }
  th {
    font-weight: unset;
    text-align: unset;
  }
}

@layer components {
  .bg-red-default {
    background-color: #ff0a1f;
  }
  .error-text {
    @apply text-sm text-red-500;
  }
  .scrollbar-main {
    @apply scrollbar scrollbar-track-transparent scrollbar-thumb-gray-800 scrollbar-thumb-rounded-full scrollbar-w-0.5 scrollbar-h-0.5;
  }
  .component-panel {
    @apply border border-neutral-900 bg-neutral-950 rounded-lg;
  }
  .cell-size-07 {
    @apply flex-1 max-w-[70px] min-w-[60px];
  }
  .cell-size-09 {
    @apply flex-1 max-w-[90px] min-w-[80px];
  }
  .cell-size-12 {
    @apply flex-1 max-w-[120px] min-w-[100px];
  }
  .cell-size-16 {
    @apply flex-[1.6] max-w-[160px] min-w-[150px];
  }
  .cell-size-18 {
    @apply flex-[1.8] max-w-[180px] min-w-[160px];
  }
  .cell-size-20 {
    @apply flex-[2] max-w-[200px] min-w-[180px];
  }
  .cell-size-22 {
    @apply flex-[2.2] max-w-[220px] min-w-[200px];
  }
  .process-load-to-full {
    animation: processLoadToFull linear;
  }
}

@keyframes processLoadToFull {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* APP LOADING */
.dark .dynamic-shadow-dom {
  --dynamic-base-1: #18181b;
}
.light .dynamic-shadow-dom {
  --dynamic-base-1: #e4e4e7;
}

.dynamic-shadow-dom {
  --dynamic-hover: #1e47ed;
  --dynamic-connect-button-border: none;
}
